* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1180px;
  margin: auto;
}
.display-flex {
  display: flex;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-5 {
  margin-right: 5px;
}
.text-medium {
  font-weight: 500;
  font-size: 18px;
}
.padding-left-40 {
  padding-left: 40px;
}
.margin-top-10 {
  margin-top: 10px;
}
.font-size-14 {
  font-size: 14px;
}
.text-green {
  color: #2adb00;
}
.line-height-20 {
  line-height: 20px;
}
.color-grey {
  color: #6c6c6c;
}
.color-grey-bright {
  color: #8e8e8e;
  gap: 10px;
}
.color88 {
  color: #888888;
}
.margin-top-20 {
  margin-top: 20px;
}
header {
  justify-content: space-between;
  padding: 0px 40px;
  height: 89px;
  color: #000000;
  flex-wrap: wrap;
  max-width: 1180px;
}
.header-left {
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  gap: 30px;
}
.fa-chevron-down {
  font-size: 12px;
}
.header-right {
  font-size: 12px;
  font-weight: 300;
  gap: 12px;
  padding-top: 20px;
}
.nav-bar {
  line-height: 20px;
  text-align: center;
}
.header-left > img {
  height: 38.9px;
}
.section-one {
  padding-top: 15px;
  padding-bottom: 50px;
  height: 763px;
  margin: auto;
  max-width: 1180px;
  padding-right: 40px;
  padding-left: 40px;
}
.highlight {
  background: linear-gradient(to top, #f5f5f5, #ffffff);
  max-width: 2000px !important;
}
.business {
  height: 385px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #f5f5f5, #ffffff);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.business-button {
  height: 30px;
  width: 73px;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 20px;
}
h2 {
  padding-right: 30px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.5;
}
.share-button {
  margin-top: 30px;
  width: 54px;
  height: 35px;
  background-color: #f0efef;
  color: #6c6c6c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
#business-photo {
  height: 385px;
  width: 550px;
  margin-left: 15px;
}
.text {
  font-size: 13px;
}
.fa-message {
  color: #8e8e8e;
}
.fa-share {
  color: #8e8e8e;
}
.section-one-bottom {
  height: 233px;
  gap: 15px;
  margin-top: 30px;
}
.section-one-bottom img {
  height: 175px;
}
#adds {
  height: 270px;
}
.section-two {
  height: 25.5px;
  margin-top: 40px;
}
#gogo-tittle {
  font-size: 25.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
#story {
  height: 25.5px;
  width: 69, 7px;
  font-size: 18px;
  font-weight: 700;
  background-color: #00b0f4;
  border-radius: 3px;
  padding: 2px 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 20px;
}
.section-two-bottom {
  max-width: 1180px;
  justify-content: space-between;
}
.card {
  height: 235px;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
}
.card1 {
  background: url(./section\ two\ 2.png);
  background-size: 100%;
}
.card:hover {
  opacity: 1;
  background-size: 105%;
  transition: all 0.7s;
}
.card-top {
  height: 50px;
  padding: 10px;
}
.card-bottom {
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
}
.fa-eye {
  color: #ffffff;
}
.section-three {
  display: flex;
  margin-top: 280px;
}
.left-aside {
  width: 690px;
}
.today {
  color: #407ce8;
  font-size: 16px;
  font-weight: 550;
  height: 27.8px;
  margin-bottom: 8px;
}
.home-calendar-container {
  color: #b7b6b6;
  width: 103.8px;
  height: 22px;
}
.home-calendar-container-grey {
  color: #b7b6b6;
  width: 118.8px;
  height: 22px;
}
.calendar-one-day {
  width: 103.8px;
  height: 7px;
  background-color: #407ce8;
  border-radius: 5px;
}
.calendar-one-day-grey {
  width: 103.8px;
  height: 7px;
  background-color: #efefef;
  border-radius: 5px;
  margin-left: 15px;
}
.home-calendar-text {
  color: #407ce8;
  font-size: 13px;
  text-align: center;
}
.home-calendar-text-grey {
  color: #b7b6b6;
  font-size: 13px;
  text-align: center;
  margin-left: 15px;
}
.grid-container {
  width: 740px;
  display: grid;
  grid-template-columns: 220px 500px;
  grid-template-rows: 160px 160px 160px;
  gap: 20px;
  padding: 10px;
  padding-top: 30px;
}
.middle-aside {
  margin-left: 30px;
}
.middle-aside > p {
  text-align: center;
  width: 27px;
  height: 27px;
  color: #6c6c6c;
  background-color: #efefef;
  border-radius: 4px;
  margin-top: 35px;
  margin-left: 12px;
}
.line {
  height: 4000px;
  border-left: #efefef solid 1px;
  margin-left: 60px;
  margin-top: 35px;
}
.right-aside {
  width: 290px;
  margin-left: 70px;
  margin-top: 35px;
}
.fa-clock {
  margin-left: 20px;
}
