* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1180px;
  margin: auto;
}
.display-flex {
  display: flex;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-5 {
  margin-right: 5px;
}
.text-medium {
  font-weight: 500;
  font-size: 18px;
}
.padding-left-40 {
  padding-left: 40px;
}
.margin-top-10 {
  margin-top: 10px;
}
.font-size-14 {
  font-size: 14px;
}
.text-green {
  color: #2adb00;
}
.line-height-20 {
  line-height: 20px;
}
.color-grey {
  color: #6c6c6c;
}
.color-grey-bright {
  color: #8e8e8e;
  gap: 10px;
}
.color88 {
  color: #888888;
}
.margin-top-20 {
  margin-top: 20px;
}
header {
  justify-content: space-between;
  padding: 0px 40px;
  height: 89px;
  color: #000000;
  flex-wrap: wrap;
  max-width: 1180px;
}
.gogo-logo-media-query {
  display: none;
}
.header-left {
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  gap: 30px;
}
.fa-chevron-down {
  font-size: 12px;
}
.header-right {
  font-size: 12px;
  font-weight: 300;
  gap: 12px;
  padding-top: 20px;
}
.nav-bar {
  line-height: 20px;
  text-align: center;
}
.header-left > img {
  height: 38.9px;
}
.section-one {
  padding-top: 15px;
  padding-bottom: 50px;
  height: 763px;
  margin: auto;
  width: 1180px;
  padding-right: 40px;
  padding-left: 40px;
}
.highlight {
  background: linear-gradient(to top, #f5f5f5, #ffffff);
  max-width: 2000px !important;
}
.business {
  height: 385px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #f5f5f5, #ffffff);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.business-button {
  height: 30px;
  width: 73px;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 20px;
}
h2 {
  padding-right: 30px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 1.5;
}
.share-button {
  margin-top: 30px;
  width: 54px;
  height: 35px;
  background-color: #f0efef;
  color: #6c6c6c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
#business-photo {
  height: 385px;
  width: 550px;
  margin-left: 15px;
}
.text {
  font-size: 13px;
}
.fa-message {
  color: #8e8e8e;
}
.fa-share {
  color: #8e8e8e;
}
.section-one-bottom {
  height: 233px;
  gap: 15px;
  margin-top: 30px;
}
.one-bottom-height {
  width: 269px;
}
.section-one-bottom img {
  height: 175px;
}
#adds {
  height: 270px;
}
.section-two {
  height: 25.5px;
  margin-top: 40px;
}
#gogo-tittle {
  font-size: 25.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
#story {
  height: 25.5px;
  width: 69, 7px;
  font-size: 18px;
  font-weight: 700;
  background-color: #00b0f4;
  border-radius: 3px;
  padding: 2px 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 20px;
}
.section-two-bottom {
  max-width: 1180px;
  justify-content: space-between;
}
.card {
  height: 235px;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
}
.card1 {
  background: url(./section\ two\ 2.png);
  background-size: 100%;
}
.card:hover {
  opacity: 1;
  background-size: 105%;
  transition: all 0.7s;
}
.card-top {
  height: 50px;
  padding: 10px;
}
.card-bottom {
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
}
.fa-eye {
  color: #ffffff;
}
.section-three {
  display: flex;
  margin-top: 280px;
}
.left-aside {
  width: 690px;
}
.today {
  color: #407ce8;
  font-size: 16px;
  font-weight: 550;
  height: 27.8px;
  margin-bottom: 8px;
}
.home-calendar-container {
  color: #b7b6b6;
  width: 103.8px;
  height: 22px;
}
.home-calendar-container-grey {
  color: #b7b6b6;
  width: 118.8px;
  height: 22px;
}
.calendar-one-day {
  width: 103.8px;
  height: 7px;
  background-color: #407ce8;
  border-radius: 5px;
}
.calendar-one-day-grey {
  width: 103.8px;
  height: 7px;
  background-color: #efefef;
  border-radius: 5px;
  margin-left: 15px;
}
.home-calendar-text {
  color: #407ce8;
  font-size: 13px;
  text-align: center;
}
.home-calendar-text-grey {
  color: #b7b6b6;
  font-size: 13px;
  text-align: center;
  margin-left: 15px;
}
.grid-container {
  width: 740px;
  display: grid;
  grid-template-columns: 220px 500px;
  grid-template-rows: 160px 160px 160px;
  gap: 20px;
  padding: 10px;
  padding-top: 30px;
}
.see-more {
  width: 690px;
  background-color: #f8f8f8;
  height: 65px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 8px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
}
.see-more:hover {
  background-color: #ffffff;
  cursor: pointer;
  border: #f8f8f8 1px solid;
  color: #407ce8;
  transition-duration: 0.3s;
}
.middle-aside {
  margin-left: 30px;
}
.middle-aside > p {
  text-align: center;
  width: 27px;
  height: 27px;
  color: #6c6c6c;
  background-color: #efefef;
  border-radius: 4px;
  margin-top: 35px;
  margin-left: 12px;
}
.line {
  height: 2830px;
  border-left: #efefef solid 1px;
  margin-left: 60px;
  margin-top: 35px;
}
.margin-left-50 {
  margin-left: 50px;
}
.right-aside {
  width: 290px;
  margin-top: 35px;
}
.fa-clock {
  margin-left: 20px;
}
.special-news {
  height: 30px;
  align-items: center;
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 25px;
}
.grid-container-two {
  display: grid;
  grid-template-columns: 290px;
  grid-template-rows:
    170px 60px 40px 170px 60px 40px
    170px 60px 40px
    170px 60px 40px;
}
.font-size-15 {
  font-size: 15px;
  font-weight: 500;
}
.font-size-12 {
  font-size: 12px;
}
.fa-message-2 {
  margin-left: 18px;
}
.trend-news {
  background-color: rgb(255, 250, 230);
  height: 1450px;
  width: 340px;
}
.trend-news-topic {
  padding: 50px 30px;
  text-align: center;
}
.trend-news-article {
  padding: 0px 30px 30px;
}
.trend-news-rate {
  font-weight: 700;
  color: #e00034;
  font-size: 46px;
  line-height: 46px;
  margin-right: 15px;
}
.font-weight-300 {
  font-weight: 100;
}
.border-dotted {
  border: dashed 0.2px rgb(129, 129, 129);
  width: 250px;
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.section-four {
  padding-left: 10px;
  max-width: 1180px;
}
.talk {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 550;
  line-height: 25px;
}
.section-four-left {
  width: 100%;
  background-color: #c40097;
  background: url("https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/10/311560-13102023-1697170235-1782031612-111.jpg")
    no-repeat;
  border-radius: 5px;
  background-size: 170%;
  background-position: center;
  margin-right: 10px;
}
.section-four-left-word {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 330px 20px 20px 30px;
}
.section-four-left:hover {
  background-size: 177%;
  transition-duration: 0.7s;
}
.gogo-cafe {
  height: 26px;
  padding: 4px;
  width: 140px;
  font: 16px;
  color: #ffffff;
  background-color: #407ce8;
  border-radius: 5px;
  margin-bottom: 10px;
}
.gogo-cafe-2 {
  height: 26px;
  padding: 5px 3px;
  width: 85px;
  font: 16px;
  color: #ffffff;
  background-color: #407ce8;
  border-radius: 5px;
  margin-bottom: 10px;
}
.border-dashed {
  border: dashed white 0.6px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.section-four-right {
  width: 580px;
  display: grid;
  grid-template-columns: 271px 271px;
  grid-template-rows: 243px 243px;
  gap: 10px;
  justify-content: space-between;
}
.four-right {
  background-image: url(./section\ two\ 2.png);
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
  padding: 130px 15px 0px 10px;
  background-size: 110%;
  background-position: center;
}
.four-right:hover {
  background-size: 115%;
  transition-duration: 0.7s;
}
.section-five {
  margin-top: 50px;
  max-width: 1160px;
}
#style {
  height: 25.5px;
  width: 69, 7px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
  padding: 2px 3px;
  color: #fff;
  margin-left: 10px;
  background-color: #00b0f4;
}
.gogo-style-card {
  height: 360px;
  width: 263px;
  border: #dddddd 0.5px solid;
  border-radius: 10px;
}
.gogo-style-card-image {
  height: 230px;
  background: url(https://mgl.gogo.mn/newsn/thumbnail/510/images/c/2023/10/311753-13102023-1697156891-1745020475-dreams.jpg)
    center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #ffffff;
  text-align: center;
  padding: 40% 30%;
  text-shadow: 1px 1px 1px;
}
.gogo-style-card-image:hover .opacity-0 {
  transition: all 0.6s;
  background-size: 210%;
  opacity: 1;
}
.gogo-style-card-image:hover {
  transition: 0.6s;
  background-size: 210%;
}
.dreams {
  height: 72px;
  font-size: 16px;
  padding: 5% 5%;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.opacity-0 {
  opacity: 0;
}
.gogo-style-card-icon {
  display: flex;
  gap: 25px;
  font-size: 12px;
  padding-left: 5%;
  color: #888888;
}
#row-line {
  width: 240px;
  height: 1px;
  background-color: #efefef;
  margin-top: 7%;
  margin-bottom: 5%;
  margin-left: 5%;
}
.space-between {
  justify-content: space-between;
}
.margin-top-35 {
  margin-top: 35px;
}
.gogo-technology-card {
  height: 300px;
  width: 263px;
  border: #dddddd 0.5px solid;
  border-radius: 10px;
}
.gogo-technology-card-image {
  height: 170px;
  background: url(https://mgl.gogo.mn/newsn/thumbnail/420/images/c/2023/10/-20102023-1697777976-1724811316-asdasd-7bwqu4b6114i0ou3cpret5d9nl05vqt0v5mqccm0lkw.jpg)
    no-repeat top;
  background-size: 110%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #ffffff;
  padding: 40% 30%;
}
.gogo-technology-card-image:hover {
  transition: 0.6s;
  background-size: 115%;
}
.gogo-technology-card-image:hover .opacity-0 {
  transition: all 0.6s;
  background-size: 115%;
  opacity: 1;
}
.honda {
  padding-left: 3%;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding: 0% 5%;
}
.gap-40 {
  gap: 40px;
}
#row-line-2 {
  width: 240px;
  height: 1px;
  background-color: #efefef;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}
.gogo-comic-card {
  height: 330px;
  width: 592px;
  border: #dddddd 0.5px solid;
  border-radius: 10px;
}
.gogo-comic-card-image {
  height: 200px;
  background: url(https://mgl.gogo.mn/newsn/thumbnail/1000/comic/2023/06/21/3773/comic-153411-688093610.jpeg)
    no-repeat top;
  background-size: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.height-130 {
  height: 130px;
}
.gogo-comic-card-image:hover {
  transition: 0.6s;
  background-size: 101%;
}
.gogo-comic-card-image:hover .opacity-0 {
  transition: all 0.6s;
  background-size: 105%;
  opacity: 1;
  color: #ffffff;
}
.comic-word {
  padding-left: 3%;
  letter-spacing: 0.5px;
  line-height: 20px;
}
#row-line-3 {
  width: 500px;
  height: 1px;
  background-color: #efefef;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 5%;
}
.section-eight {
  height: 800px;
  max-width: 2000px !important;
  padding-top: 50px;
  margin-top: 60px;
  background-color: #000000;
  width: 100%;
}
.align-items-center {
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.grid-container-three {
  display: grid;
  grid-template-columns: 279px 279px 279px 279px;
  grid-template-rows: 332px 332px;
  column-gap: 15px;
  row-gap: 15px;
}
.gogo-see-card-image {
  background: url(https://mgl.gogo.mn/newsn/thumbnail/420/images/c/2023/04/-13042023-1681370795-1717018032-233441-30112018-1543562344-444474783-Chuulgan11.jpeg);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 170px;
}
.see-card-word {
  padding-left: 10px;
  padding-top: 10px;
  color: #ffffffcc;
}
.gogo-logo {
  height: 39px;
}
.footer-top {
  justify-content: space-between;
}
.footer-top-right {
  gap: 10px;
  font-size: 15px;
  color: #101010;
  font-weight: 600;
}
.row-line-4 {
  width: 1180px;
  height: 1px;
  background-color: #efefef;
  margin-top: 30px;
  margin-bottom: 30px;
}
.padding-left-10 {
  padding-left: 10px;
}
.footer-bottom {
  margin-bottom: 50px;
}
.mobile-header {
  display: none;
}
/* Media query */
@media screen and (max-width: 390px) {
  .container {
    width: 390px;
  }
 header {
  display: none;
  height: 0px;
  margin-bottom: 100px;
  padding: 0px 0px;
  height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-start;
 }
 .header-left {
  display: none;
 }
 .header-right {
  display: none;
 }
 .nav-bar {
  border: #6C6C6C 0.1px solid;
  border-radius: 5px;
 }
 .nav-bar p ,span{
  font-size: 14px;
 }
  .mobile-header {
    display: block;
    width: 390px;
    display: flex;
    background-color: #acacac;
    font-size: 10px;
    height: 50px;
  }
  .section-one {
    display: none;
  }
  .logo-mobile {
    width: 70px;
    height: 22px;
    background-color: #f7ffa1;
    margin-top: 15px;
    margin-right: 20px;
  }
}
